In [3]:
import pandas as pd
import os
import pickle

In [2]:
train_raw = pd.read_csv(r'C:\PROJEKTY\KAGGLE\SpaceshipTytanic\data\train.csv')

In [9]:
train_raw.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [4]:
cols = [
    'Age',
    'RoomService',
    'FoodCourt',
    'ShoppingMall',
    'Spa',
    'VRDeck'
]
mean_dict = dict(train_raw[cols].mean())
std_dict = dict(train_raw[cols].std())
max_dict = dict(train_raw[cols].max())
min_dict = dict(train_raw[cols].min())

In [10]:
min_dict

{'Age': 0.0,
 'RoomService': 0.0,
 'FoodCourt': 0.0,
 'ShoppingMall': 0.0,
 'Spa': 0.0,
 'VRDeck': 0.0}

In [5]:
pickle_dict = {
    'means': mean_dict,
    'std': std_dict,
    'max': max_dict,
    'min': min_dict
}

In [7]:
path = os.path.join(os.getcwd(), 'models', 'values.pickle')

with open(path, 'wb') as file:
    pickle.dump(pickle_dict, file, protocol=pickle.HIGHEST_PROTOCOL)

In [ ]:
for filename in ['adaboost.pickle', 'svc.pickle', 'lgbm']